* {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px black;
    align-items: center;
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #A435F0;
}
.navbar__s2
{
    border: solid 1px black;
    width: 60%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;

}
.navbar__s2 input
{
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus
{
    outline: none;
}

.navbar__s3
{
    display: flex;
    gap: 10px;

    
}
/* My Learning Popup */
.mylearning
{
    position: relative;
    cursor: pointer;
    
}

.mylearning__popup
{
    position: absolute;
    background-color: white;
    border: solid 1px black;
    width: 100px;
    padding: 10px;
    left: 0px;
    top: 150%;
    display: none;
    
}

.mylearning:hover .mylearning__popup
{
    display: block;
}

.categories
{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px black;
padding: 10px;

}

.categories p
{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border:solid #A435F0; 1px;
    
}
.categories p:hover
{
    background-color: transparent;
    color: black;
    transition: 1s;
    border:solid #A435F0; 1px;
}
.sale-image img
{
    width: 100%;
    

}
.sale-image
{
    position: relative;
}

.sale-image__offer
{
    top: 25%;
    left: 10%;
    position: absolute;
    border: solid black 2px;
    padding: 20px;
    background-color: white;
    animation-name: zoom;
    animation-duration: 2s;
    
}
@keyframes zoom {
    
    0%
    {
transform: scale(0);
opacity: 0;
    }
    100%
    {
transform: scale(1);
opacity: 1;
    }
}

.recommended
{
    padding: 10px;
}
.course-card
{
    width: 350px;
}
.course-card img
{
    width: 100%;
    height: 60%;
}
.recommended__container
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.topics
{
    padding: 10px;
}
.topic__container
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    
}

.topic__container p
{
 padding: 10px;
 border: solid gray;
flex-grow: 1;
flex-basis: 25%;

}
.popular
{
    padding: 10px;
    
}

.popular__container
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}
.footnote
{
    
        background-color: black;
    color: white;
    padding: 30px;
    

}
.footnote__one
{
    display: flex;
    gap: 20px;
}
.footnote__one p
{
    padding: 10px;
}

.footnote__two
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}